* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  EN EL UNIVERSAL DETERMINARÉ EL TIPO DE FUENTE Y NO DEJARÉ NINGUN ESPACIO DE MÁRGENES EN MI WEB  */

body{
    background-image: url(fondo.png); /*  SE AÑADE UN FONDO DE PANTALLA  */
}

label {
    display: block;
    float: left;
    width: 109px;
}

label,
input {
    height: 31px;
}

#mensaje {
    height: 97px
}

#mensajetext {
    margin-top: 13px;
}

div {
    width: 100%;
    background: #24303c;
    padding: 12px;                      /*  SE LE DA ESTILOS A LAS DIVISIONES CREADAS  */
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

div, input{
    width: 320px;
}

footer {
    width: 394px;
    background: #24303c;
    padding: 25px;
    margin: auto;
    margin-top: 100px;              /*  ESTILOS PARA EL FORMULARIO */
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#btnenviar {
    width: 30%;
    background: #1f53c5;
    border: none;
    padding: 10px;
    color: white;               /*  ESTILOS PARA EL BOTON  */
    font-size: 16px;
    margin-top: 34px;
    margin-left: 113px;
    margin-bottom: 0%;
}

footer h2{
    margin-bottom: 11px;
}

footer h2::after {
    content: "";
    width: 213px;
    height: 2px;
    display: inline-block;          /*  ESTILOS PARA LOS TÍTULOS H2 DENTRO DEL FOOTER  */
    background: #225edf;
    margin: 4px 10px
}

/*  ESTILOS DE CSS PARA CAMPOS, INPUTS Y BOTONES.  */