* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Imagenes/fondo3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

.contenido {
    text-align: center;
    background: #dfe5e4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

embed{
    width: 900px;
    height: 750px;
}

.contenido a{
    margin-left: 900px;
    margin-top: -37px;
}