* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(fondo3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    display: block;
    float: left;
    width: 109px;
}

label,
input {
    height: 31px;
}


div {
    width: 1000%;
    background: #24303c;
    padding: 12px;
    font-size: 18px;
    color: white;
}

div, h2{
    font-size: 25px;
}

div, input{
    width: 320px;
}

.container2 {
    width: 394px;
    background: #24303c;
    padding: 25px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#btnenviar {
    width: 50%;
    background: #1f53c5;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 34px;
    margin-left: 90px;
    margin-bottom: 0%;
    cursor: pointer;
}

.container2 h2{
    margin-bottom: 11px;
}

.container2 h2::after {
    content: "";
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #225edf;
    margin: 4px 10px
}

button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer{
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 200px;
    padding: 22px;
}

.new, p a{
    list-style: none;
    font: bold;
    font-size: 15px;
}

.new a{
    color: #225edf;
    font-size: 15px;
}

#error{
    font-size: 15px;
}