* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(fondo.png);
}

label {
    display: block;
    float: left;
    width: 109px;
}

label,
input {
    height: 31px;
}


div {
    width: 1000%;
    background: #24303c;
    padding: 12px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

div, input{
    width: 320px;
}

footer {
    width: 394px;
    background: #24303c;
    padding: 25px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#btnenviar {
    width: 50%;
    background: #1f53c5;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 34px;
    margin-left: 90px;
    margin-bottom: 0%;
    cursor: pointer;
}

footer h2{
    margin-bottom: 11px;
}

footer h2::after {
    content: "";
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #225edf;
    margin: 4px 10px
}