body{
    margin:0;
    padding: 0;
    background: #dfe5e4;
}
.titulo h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2,9em; 
    
    }
.name{
    width: auto;
    height: auto;

    background: white;
}

.info{
    width: 300px;
    height: 870px;
    background:rgba(34, 33, 33, 0.638);
    float: left;
    margin-left: 18%;
}

.info img{
    width: 42%;
    height: 30.5;
    margin: 9% 0% 0% 30%;
    
}
.info h4
{
    
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:90%;
}

.info p{
    text-align: left;
    color: rgb(255, 255, 255);
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}
.otros{
    width: 600px;
    height: 870px;
    background:rgb(71, 71, 71);
    float: right;
    margin-right: 14%;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    border-radius: 10%;
}
h2{
    background-color: rgba(197, 230, 49, 0.452);
    margin:10px 160px 10px 160px;
}

.otros p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:90%;
    color:rgb(255, 255, 255);
    text-align: left;
    margin-left: 20%;
}
.container-table{
    width: 99%;
    background: white;
    margin: 15px auto;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 50px;
}

.table__title{
    grid-column-start: 1;
    grid-column-end: 5;

    background: rgba(175, 224, 160, 0.89);
    color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.table__header, .table__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 90%;
}

.table__item{
    font-size: 90%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.otros a{
    margin-left: 559px;

}