*{
    margin: 0px;
    padding: 0px;
}

body{
    background: gray;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

nav{
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 20px);
    min-height: 500px;
    background: green;
    padding: 10px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 500px;
    padding: 10px;
}

footer{
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 22px;
}