*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    background-image: url('fondo3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}

/* header{
    background-color: #24303c;
    height: 90px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
} */

nav{
    background-color: #24303c;
    height: 50px;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    display: grid;
}

/* .clearfix{
    clear: both;
} */

#content{
    height: 567px;
    padding: 10px;
}

/* aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    padding: 10px;
} */

footer{
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    padding: 22px;
}

/* CONTENIDO */

h1{
    color: white;
    font-weight: bold;
}

li, a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
h2,p{
    color: white;
    font-weight: bold
}






.cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

.cont div {
    padding: 15px;
    text-align: center;
    text-shadow: black 3px 2px 4px;
}

/* .cont div:hover{
    border: 1px solid yellow;
} */

.cont div h2{
    margin-bottom: 20px;
    margin-top: 4px;
}

.img1, .img2, .img3{
    margin-bottom: 14px;
    box-shadow: black 3px 2px 18px;
    border-radius: 7px;
}

.gridaside{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 42px;
    padding-top: 20px;
    text-align: center;
    text-shadow: black 3px 2px 4px;
}