* {
  margin: 0;
  padding: 0;
  --morado: rgb(186, 126, 179);
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfe5e4;
}

nav {
  background-color: #24303c;
  height: 50px;
}

nav ul li {
  float: left;
  list-style: none;
  margin: 15px;
  font-size: 20px;
}

nav ul li a {
  color: white;
}

a {
  text-decoration: none;
}

hr {
  height: 2px;
  background-color: #24303c;
  border-style: none;
}

.cuerpo {
  margin: 10px 50px;
  justify-content: space-between;
  display: flex;
}

.box {
  margin-bottom: 20px;
  background-color: var(--blanco);
  width: 75%;
  background-color: white;
}

.box1 {
  background-color: var(--blanco);
  width: 21%;
}

.leer {
  background-color: var(--morado);
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.leer:hover{
  background-color: #BEA7DA;
}

.box h1 {
  margin: 10px;
}

.box article {
  margin: 10px;
}

.referencias {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 40px;
  font-size: 1.4rem;
  margin-top: 10px;
}

.item_grid {
  display: flex;
  align-items: center;
  font-size: 15px;
}

#ver {
  background-color: yellowgreen;
  border-radius: 5px;
  padding: 5px 10px;
}

footer{
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  padding: 15px;
}