* {
    margin: 0;
    padding: 0;
  }

#container{
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c3d8d5;
  height: auto;
  width: 100%;

}

nav {
  background-color: #24303c;
  height: 50px;
}

nav ul li {
  float: left;
  list-style: none;
  margin: 15px;
  font-size: 20px;
}

nav ul li a {
  color: white;
}

a {
  text-decoration: none;
}

.name {
  width: auto;
  height: auto;
  background: white;
}

.info {
  width: 300px;
  height: 500px;
  background: #24303c;
  float: left;
  margin-left: 18%;
}

.info img {
  width: 42%;
  height: 30.5;
  margin: 9% 0% 0% 30%;
}
.info h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-left: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}

.info p {
  text-align: left;
  color: rgb(255, 255, 255);
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}
.otros {
  width: 600px;
  height: 500px;
  background: #24303c;
  float: right;
  margin-right: 14%;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  border-radius: 10%;
}
h2 {
  color: white;
  background: #14191f;
  margin: 10px 160px 10px 160px;
}

.otros p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 20%;
}
.container-table {
  width: 99%;
  background: white;
  margin: 15px auto;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 50px;
}

.table__title {
  grid-column-start: 1;
  grid-column-end: 5;

  background: #3d5979;
  color: rgb(27, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 90%;
  font-family: Arial, Helvetica, sans-serif;
}

.table__header,
.table__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 90%;
}

.table__item {
  font-size: 90%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.otros a {
  margin-left: 559px;
}


footer{
  margin-top: 608px;
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  padding: 15px;
}

.leaveclass{
  margin-top: 8px;
}